# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Pulumi
*.pyc
Pulumi.*.yaml
!Pulumi.yaml

# AWS
.aws/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.docker/

# SSH Keys
mlops-key
mlops-key.pub
